html
    head
        title Memory
        link(rel="stylesheet" type="text/css" href="/style.css")
        meta(id="session" session=session)
    body
        div(class="container") 
            each val, index in blocks
                div(class="block" id=index)
        script(src="/script.js")